#*#
*.mo
*.py[co]
*~
.*.s[a-w][a-p]
.s[a-w][a-p]
MANIFEST
backup/
build/
debian/limnoria*
debian/python-module-stampdir/
dist/
docs/_build/
docs/plugins/
limnoria.egg-info/
merge.sh
push.sh
py3k/
src/version.py
supybot.egg-info/
test-conf/
test-data/
test-logs/
