backup
build
dist
supybot.egg-info
test-data
test-conf
test-logs
*.pyc
docs/_build
docs/plugins
*.swp
*.swo
*~
*.mo
debian/limnoria*
debian/python-module-stampdir/
dist/
push.sh
merge.sh
src/version.py
MANIFEST
py3k/
