*.mo
*.py[cdo]
*~
.*.swp
.swp
MANIFEST
backup/
build/
debian/compat
debian/files
debian/limnoria*
debian/python-module-stampdir/
dist/
docs/_build/
docs/plugins/
limnoria.egg-info/
merge.sh
nano.save
push.sh
py3k/
src/version.py
supybot.egg-info/
test-conf/
test-data/
test-logs/
src/version.py
INSTALL
README.txt
conf/
data/
logs/
*.conf
*.conf.bak

# Intellij PyCharm / IDEA related files
*.iml
.idea
