<jamessan@users.sourceforge.net> <vega.james@gmail.com>
<jemfinch@users.sourceforge.net> <jemfinch@finchers.us>
<jemfinch@users.sourceforge.net> <jfincher@monoid.(none)>
<mikaela.suomalainen@outlook.com> <Mkaysi@users.noreply.github.com>
<nyuszika7h@openmailbox.org> <liemininyuszika@gmail.com>
<nyuszika7h@openmailbox.org> <litemininyuszika@gmail.com>
<nyuszika7h@openmailbox.org> <nyuszika7h@cadoth.co>
<nyuszika7h@openmailbox.org> <nyuszika7h@cadoth.net>
<nyuszika7h@openmailbox.org> <nyuszika7h@gmail.com>
<nyuszika7h@openmailbox.org> <nyuszika7h@outlook.com>
<progval@progval.net> <progval+github@progval.net>
<progval@progval.net> <progval@gmail.com>
<shadowninja@minetest.net> <ShadowNinja@users.noreply.github.com>
Daniel Folkinshteyn <nanotube@users.sourceforge.net> Daniel F <dfolkins@a90.(none)>
Daniel Folkinshteyn <nanotube@users.sourceforge.net> nanotube <nanotube@users.sf.net>
James Lu <james@overdrivenetworks.com> <GLolol1@hotmail.com>
James Lu <james@overdrivenetworks.com> <glolol1@hotmail.com>
James Lu <james@overdrivenetworks.com> <glolol@overdrive.pw>
James Lu <james@overdrivenetworks.com> <GLolol@overdrivenetworks.com>
James McCoy <jamessan@users.sourceforge.net>
Ken Spencer <ken@electrocode.net> Iota Spencer <iota@electrocode.net>
Mikaela Suomalainen <mikaela.suomalainen@outlook.com> Mika Suomalainen <mika.henrik.mainio@hotmail.com>
Mikaela Suomalainen <mikaela.suomalainen@outlook.com> Mika Suomalainen <mkaysi@outlook.com>
Mikaela Suomalainen <mikaela.suomalainen@outlook.com> Mika Suomalainen <mkaysi@users.sourceforge.net>
Mikaela Suomalainen <mikaela.suomalainen@outlook.com> Mika Suomalainen <s.mika95@gmail.com>
Mikaela Suomalainen <mikaela.suomalainen@outlook.com> Mikaela Suomalainen <mkaysi@outlook.com>
Tannn3r <tannn3r@gmail.com> <tanman8r@gmail.com>
