Source: supybot
Section: net
Priority: optional
Maintainer: James Vega <vega.james@gmail.com>
Build-Depends: debhelper (>= 4.1.67), python (>= 2.3), python-dev (>= 2.3), docbook-to-man (>= 2.0.0)
Standards-Version: 3.6.1.0

Package: supybot
Architecture: all
Depends: ${python:Depends}
Suggests: python-twisted, python-sqlite
Description: robust and user friendly Python IRC bot
 Supybot is a robust (it doesn't crash), user friendly (it's easy
 to configure) and programmer friendly (plugins are *extremely*
 easy to write) Python IRC bot.  It aims to be an adequate
 replacement for most existing IRC bots.  It includes a very
 flexible and powerful ACL system for controlling access to
 commands, as well as more than 50 builtin plugins providing
 around 400 actual commands.
