#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_INSTALL_MANPAGES_supybot := debian/supybot-adduser.1 debian/supybot-newplugin.1\
	debian/supybot.1 debian/supybot-wizard.1

build/supybot::
	docbook-to-man debian/manpage_supybot-adduser.sgml > debian/supybot-adduser.1
	docbook-to-man debian/manpage_supybot-newplugin.sgml > debian/supybot-newplugin.1
	docbook-to-man debian/manpage_supybot.sgml > debian/supybot.1
	docbook-to-man debian/manpage_supybot-wizard.sgml > debian/supybot-wizard.1

clean::
	-rm -f $(DEB_INSTALL_MANPAGES_supybot)
