#!/usr/bin/make -f

export DH_VERBOSE = 1
export PYBUILD_NAME = supybot

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_test:
#	cp -r {dir}/scripts/supybot-test {build_dir}; chmod u+x {build_dir}/supybot-test; cp -r {dir}/test {build_dir}
#	cd {build_dir}; ./supybot-test test
#	rm -rf {build_dir}/supybot-test; rm -rf {build_dir}/test
